* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  font: inherit;
  padding: 0.15rem 0.25rem;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
}

input:focus {
  background: #e2e2e2;
}

button {
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

form button {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #272727;
}

button:focus,
input:focus {
  outline: none;
}

button:has(i) {
  position: absolute;
  right: 0;
  padding: 0 1rem;
}

header h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

#product-list {
  list-style: none;
  margin: 2rem auto;
  width: 100%;
  max-width: 80rem;
  padding: 0;
}

#product-list li,
.form-container {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  position: relative;
}

.product-title {
  margin: 0;
  color: #424242;
  display: inline-block;
  max-width: calc(100% - 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.7rem;
  color: #8d8d8d;
  display: inline-block;
  margin: 1rem 0 0.5rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 2rem;
}

main {
  display: flex;
}

.price_container {
  color: #676767;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.price {
  color: #8d8d8d;
}

a {
  display: flex;
  width: fit-content;
  margin: 0.5rem;
}
